﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="SzablonStrony.master.cs" Inherits="SzablonStrony" %>

<%@ Register src="Kontrolki/Kategorie.ascx" tagname="Kategorie" tagprefix="uc1" %>

<%@ Register src="Kontrolki/NoweProdukty.ascx" tagname="NoweProdukty" tagprefix="uc2" %>
<%@ Register Src="~/Kontrolki/WybraneProdukty.ascx" TagPrefix="uc1" TagName="WybraneProdukty" %>
<%@ Register Src="~/Kontrolki/Licznik.ascx" TagPrefix="uc1" TagName="Licznik" %>



<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Adventure Works</title>
    <link href="Style.css" rel="stylesheet" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="sm1" runat="server">  
          <Scripts>  
            <asp:ScriptReference Name="jquery"/>  
          </Scripts>  
        </asp:ScriptManager>  
    <div>
        <div id="Strona">
            <img src="Images/AWlogo.jpg" />
            <div id="Naglowek">
                <div id="Menu"><asp:SiteMapDataSource ID="MapaSerwisu" runat="server" ShowStartingNode="False" />
                    <asp:Menu ID="MenuGlowne" runat="server" DataSourceID="MapaSerwisu" Orientation="Horizontal">
                        <DynamicHoverStyle CssClass="
ZaznaczonyElementMenu" />
                        <DynamicMenuItemStyle CssClass="
ElementMenuRozwijanego" />
                        <StaticHoverStyle CssClass=" ZaznaczonyElementMenu" />
                        <StaticMenuItemStyle CssClass="
ElementMenuNadrzednego" />
                    </asp:Menu>    
                </div>
                <div id="ObszarLogowania">Zaloguj</div>
            </div>
            <div id="Tresc">
                <div id="PierwszyObszarBoczny"><uc1:Kategorie ID="Kategorie1" runat="server" />
                    <uc1:WybraneProdukty runat="server" ID="WybraneProdukty" />
                </div>
                <div id="DrugiObszarBoczny">
                    <uc1:Licznik runat="server" ID="Licznik" />
                    <uc2:NoweProdukty ID="NoweProdukty1" runat="server" />
                </div>
                <div id="ObszarRoboczy">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>
    </div>
    </form>
</body>
</html>
