﻿body {
    font-family: Verdana;
    font-size: 8pt;
    color: #000033;
    background-color: white;
    margin: 0;
}
#PierwszyObszarBoczny {
    float: left;
    width: 200px;
    height: 300px;
    
}
#DrugiObszarBoczny {
    float: right;
    width: 200px;
    height: 300px;
}
#Menu{
    background-color: #ccbb77;
    font-size: 7.5pt;
}
#ObszarLogowania{
    text-align: right;
    background-color: #f52f47;
    padding: 5px 10px;
}

#ObszarRoboczy {
    background-color: #eee;
    padding: 50px 20px;
    margin: unset 200px;
    margin-top: 0px;
}
.ElementMenuNadrzednego {
    color: #330000;
    font-weight: bold;
    padding: 3px 10px;
}

.ElementMenuRozwijanego {
    background: #F5F5F5;
    color: #000033;
    padding: 3px 10px;
}

.ZaznaczonyElementMenu {
    background: #000033;
    color: White;
}
.OknoProduktow {
    background-color: #C3DBEA;
    border-style: solid;
    border-color: #55BBFF;
    margin: 5px auto 0px auto;
    width: 120px;
}